<!DOCTYPE html>
<html>
<head>
  <title>Answering Machine</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <h1>Answering Machine</h1>
  <form action="/submit" method="post">
    <label for="name">Your Name:</label>
    <input type="text" name="name" id="name" required>
    <br>
    <label for="message">Leave a Message:</label>
    <textarea name="message" id="message" required></textarea>
    <br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
