<!DOCTYPE html>
<html>
<head>
  <title>Message Received</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <h1>Message Received</h1>
  <p>Thank you, <%= name %>, for your message:</p>
  <p><%= message %></p>
</body>
</html>
